.projects-container-main{
    display: block;
    padding: 2%;
}
.projects-container{
    margin-top: 5%;
}
.projects-header{
    text-align: center;
    font-size: 30px;
}
.profilebuilder{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #A3BCB6;
    padding: 2%;
    padding-top: 1%;
}
.profilebuilder:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.expandoverflow{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #A3BCB6;
    padding: 2%;
    padding-top: 1%;
}
.expandoverflow:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.cricvisual{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #A3BCB6;
    padding: 2%;
    padding-top: 1%;
} 
.cricvisual:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.header{
    margin-top: 2%;
    text-align: center;
}
@media (max-width: 2000px) {
    .profilebuilder{
        width: 30%;
    }
    .expandoverflow{
        width: 30%;
    }
    .cricvisual{
        width: 30%;
    }
    .projects-container-main{
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .profilebuilder{
        width: 80%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .expandoverflow{
        width: 80%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .cricvisual{
        width: 80%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .projects-container-main{
        display: block;
    }

}