.skills-container-main{
    display: block;
    padding: 2%;
}
.skills-container{
    margin-top: 15%;
}
.skill-header{
    text-align: center;
    font-size: 30px;
}
.datascience{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #A3BCB6;
    padding: 2%;
    padding-top: 1%;
}
.datascience:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.fullstack{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #A3BCB6;
    padding: 2%;
    padding-top: 1%;
}
.fullstack:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.cloud{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 3%;
    background-color: #A3BCB6;
    padding: 2%;
    padding-top: 1%;
} 
.cloud:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}
.header{
    padding: 2%;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #39603D;
    border-bottom-width: 1px;
    background-color: #39603D;
    color: white;
    border-radius: 5px;
}
@media (max-width: 1380px) {
    .datascience{
        width: 30%;
    }
    .fullstack{
        width: 30%;
    }
    .cloud{
        width: 30%;
    }
    .skills-container-main{
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .datascience{
        width: 80%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .fullstack{
        width: 80%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .cloud{
        width: 80%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .skills-container-main{
        display: block;
    }

}