.topButton {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #39603D;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  font-size: 20px;
  height:40px;
  width: 40px;
}
  
.topButton:hover {
  background-color: #A3BCB6;
  color: #39603D;
  transition: all ease-in-out 0.2s;
}

.darkButton{
  background-color: #0f3460 ;
}

.darkButton:hover{
  background-color: white;
  color : #0f3460;
}